/* Globle */
*{
  box-sizing: border-box;
  font-style: 'Poppins', sans-serif;
}

body{
  margin:0 auto;
  text-align:center;
}

p {
  font-size: 1.3rem;
  margin-top: 17px;
  line-height: 2;
  font-weight:lighter;
  }

/*Navigation bar */
ul{
  position:fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF0F5;
  list-style-type: none;
  width: 100%;
  z-index: 1;
}

li {
  float: right;

}
li a{
  display: block;
  color: #F08080;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Dancing Script', sans-serif;
}

li a:hover{
  color:black;
}



/* About me and skills */

.top-container  {
  position: relative;
  padding-top: 40px;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
font-size:35px;
color:#F08080;
margin-top: 70px;
}

h3{
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  color: #F08080;
  font-size: 1.3rem;
  font-weight:bold;
  margin-bottom: 0;

}

h3.topheader{
font-family: 'Oswald', sans-serif;
font-weight: normal;
letter-spacing: 2px;
color:#F08080;
letter-spacing: 1px;
font-weight: normal;
}

.computer{
  width: 40%;
  padding-top: 4%;
  }



.middle-container  {
    margin-top: 0px;
    margin-bottom: 70px;
    padding-bottom: 25px;
    background-color: #FFF0F5;
}





hr {
  border-style: dotted none none none;
  width:6%;
  color:#F08080;
  border-width:10px;



}



.welmass{
font-family: 'Oswald', sans-serif;
color:#F08080;
letter-spacing: 1px;
font-weight: normal;
font-size:27px;
margin:auto;
padding: 3% 0%;

  
}
.mybio{
 
padding-bottom: 2%;
  width:30%;
  margin:auto;
}


.skills  {
  margin-top: 80px;
}

.skill-row {
  width:50%;
  margin:100px auto;
  text-align: left;

}


.comskill {
  width:20%;
  float: left;
  margin-right:40px;
}

.math{
  width:20%;
  float: right;
  margin-left: 35px;
}

/*Project*/

.myHeadPort{
font-size: 30px;
margin:auto;
padding-bottom:  50px;
}



.portfolio{
display:grid;
grid-template-columns: auto auto;
width: 50%;
margin: auto;

  
}

.myWork_item{
  overflow: hidden;
  margin:25px 15px;
}
/*display:inline-block*/


.myWork{
  transition: transform 750ms cubic-bezier(.5,0,.5,1), opacity 250ms linear;
}

.myWork:hover{
  transform: scale(1.2);
  opacity: 0.75;
}


#myworkContent{
  padding-bottom: 3%;

}



/*contact*/

input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #F08080;
  border-radius: 4px;
  box-sizing: border-box;
  
}
input[type=email] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #F08080;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #F08080;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
}

label.textare{
position:relative;
bottom:90px;
left:9px
 
}

.btn {
  background: #F08080;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
   font-family: 'Dancing Script', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
 
}

button{
  width: 30%;
  background-color: #F08080;
  color: white;
  padding: 14px 20px;
  margin: 8px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color:rosybrown;
}

.contactsec {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color:white;
  padding: 20px;

}

div .border-contact{
  width: 40%;
  position: relative;
  left:30%
}
.border-contact{
  border: 1.5px solid #F08080;
  padding: 15px;
  border-radius: 15px;
}

/* footer */
.bottom-container{
  background-color: #FFF0F5;
  padding: 55px 0px;

}

.footer{
    font-family: 'Dancing Script', sans-serif;
  color:#F08080;
  font-size:15px;
  margin-top:40px;
}

.footer-link{
    font-family: 'Dancing Script', sans-serif;
  margin:auto 25px;
  font-size: 20px;
  color:#F08080;
  text-decoration: none;
}


@media only screen and (max-width:850px){

    #myworkContent {
      display: block;
     width: 100%;
    }

    .portfolio{
      display:block;
      grid-template-columns: auto auto;
      width: 50%;
      margin: auto;
      }

      .myWork_item img{
        margin: 30px auto;
      }

      .myWork{
        border: 2px solid #F08080;
      }


      input[type=text] {
        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline;
        border: 1px solid #F08080;
        border-radius: 4px;
        box-sizing: border-box;
        
      }
      input[type=email] {
        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline;
        border: 1px solid #F08080;
        border-radius: 4px;
        box-sizing: border-box;
      }
      
      textarea{
        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline;
        border: 1px solid #F08080;
        border-radius: 4px;
        box-sizing: border-box;
        margin-left: 10px;
      }

      div .border-contact{
        width: 70%;
        position: relative;
        left:130px;
       
        
      }
      .border-contact{
        border: 1.5px solid #F08080;
        padding: 15px;
        border-radius: 15px;
      }

      .mybio{
          width:75%;
      }
    
      .computer{
        width: 70%;
        padding-top: 4%;
        }
} 